<!-- nav bar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SAYFR</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#about">About</a></li>
        <li><a href="/citysearch">Map<span class="sr-only">(current)</span></a></li>
        <li><a href="/#help">Help</a><li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- end nav bar -->

<div class="container">
  <div class="row">

    <div id="map" class="col-md-6" style="padding: 0"></div>
    <div class="col-md-6" style="padding: 0">
    	<div class="loader">Loading...</div>
  			<div class="region-data">
  				<h2 id="neighborhood">{{initNeighborhood}}</h2>
  				<hr>
          <h3 id="crime"></h3>
          <div id="zipcode-crime-label"></div>
          <div id="zipcode-crime"></div>
          <h3 id="cost"></h3>
          <div id="houseprices-label"></div>
          <div id="houseprices"></div>
			</div>
		</div>

  </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/map.js"></script>
