<!-- nav bar -->
<nav class="navbar navbar-light bg-faded">
	<a class="navbar-brand" href="/">SAYFR</a>
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-item active">
		 	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">About</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="#">Search Cities</a>
		</li>
	</ul>
</nav>
<!-- end nav bar -->

<div id="map"></div>

<!--data-->
<div class="container">
	<div class="zip-codes">
		<h2>La Jolla's associated zipcodes</h2>
		<table class="table" align="center">
			<thead>
				<tr>
			        <th>Zip Code</th>
			        <th>Crime</th>
			        <th>Rent</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr>
			    	<td>92037-92039</td>
			    	<td>100</td>
			    	<td>9000</td>
			    </tr>
		    </tbody>
		    <tbody>
		    	<tr>
			    	<td>92092-92093</td>
			    	<td>100</td>
			    	<td>9000</td>
			    </tr>
		    </tbody>
		</table>
	</div>
</div>
<!--end data-->

<script src="/js/index.js"></script>
<script src="/js/map.js"></script>
