<!-- nav bar -->
<nav class="navbar navbar-light bg-faded">
	<a class="navbar-brand" href="#">SAYFR</a>
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-item active">
		 	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#about">About</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="/citysearch">Map</a>
		</li>
	</ul>
</nav>
<!-- end nav bar -->

<!--header-->
<div class="container">
	<div class="header">
		<div class="slogan">
			<p>Find out if your rent is dangerously low.</p>
		</div>

		<div class="search-box">
	        <form class="form-search">
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search for Cities in SD County" name="srch-term" id="srch-term">
	            <div class="input-group-btn">
	                <button class="btn btn-default" type="submit">Go</button>
	            </div>
	        </div>
	        </form>
		</div>
	</div>
</div>
<!--header-->

<!--about-->

<div id="about">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-sm-8">
				<div class="left-side">
					<img src="/img/landing-about.jpeg" >
				</div>
			</div>
			<div class="col-sm-4 right-side">
				<div class="about-description">
					<h3>Know What You're Paying For</h3>
					<br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</div>
			</div>
		</div>
	</div>
</div>


<script src="/js/index.js"></script>
